body {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #759bb7;
}

.wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #183a16;
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: center;
}

.todo-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: 40px 0px;
}

#todo:hover {
  -webkit-box-shadow: 0 0 6px rgba(105, 178, 83, 0.6);
  box-shadow: 0 0 6px rgba(105, 178, 83, 0.6);
}

.todoitem {
  position: relative;
  width: 92%;
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 7px;
  margin-bottom: 1.4rem;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
}

.todotext {
  width: 60%;
}

.todoitem:hover {
  -webkit-box-shadow: 0 0 6px rgba(105, 178, 83, 0.6);
  box-shadow: 0 0 6px rgba(105, 178, 83, 0.6);
}

#todo {
  width: 70%;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  font-size: 1rem;
  border: 1px solid #ab6c4f;
}

.add-button {
  color: #ffffff;
  background-color: #20581cde;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 7px;
  font-size: 1.2rem;
  cursor: pointer;
}

.deletebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #20581cde;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 400;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.updateInput {
  height: 2rem;
  border-radius: 7px;
  margin-right: 2rem;
}

.updateSubmit {
  height: 2rem;
  width: 2rem;
  border-radius: 7px;
  background-image: url(./floppy-disk-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 1.3rem;
  right: 0.3rem;
}
